node_modules
.env
data.txt
echo "service-account.json" >> .gitignore
echo ".env" >> .gitignore
bhumit-471504-1ffbcd85a8ce.jsonservice-account.json
.env
bhumit-471504-1ffbcd85a8ce.json
service-account.json
.env
bhumit-471504-1ffbcd85a8ce.json
service-account.json
.env
credentials.json